<% comment = @book.comments.new %>
<div id="comments_form_<%=@book.id%>">
<%= simple_form_for([@book, comment], remote: true ) do | f | %>
  <div class='form-inputs'>
    <%= f.input :body, label: false, placeholder: '반납 시 책에 대한 후기를 남겨주세요~^^',  input_html: { rows: 5 } %>
  </div>
  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
</div>