<h1><%= @user.name %> (<%= @user.phone_number %>)</h1>

<h3>My Books</h3>
<table class="table">
	<thead>
    <tr>
     	<th>번호</th>
      <th>책제목</th>
      <th>태그</th>
      <th>현재 데이트 중인 사람</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
  	<% @user.meetings.each do |meeting| %>
  		<tr>
  			<td><%= meeting.book.id %></td>
    		<td><%= link_to meeting.book.title, meeting.book %></td>
    		<td><%= meeting.book.tag_list %></td>
    		<td><%= meeting.user.name %></td>
  		</tr>
  	<% end %>
  </tbody>

	</table>
	

<h3>Meeting Records</h3>

	<table class="table">
		<thead>
    	<tr>
     		<th>번호</th>
      	<th>태그</th>
      	<th>시작일</th>
      	<th>마감일</th>
      	<th colspan="3"></th>
    	</tr>
  	</thead>
  
  <tbody>
  	<% @user.meetings.each do |meeting| %>
  		<tr>
  			<td><%= meeting.book.id %></td>
    		<td><%= link_to meeting.book.tag_list, meeting.book %></td>
    		<td><%= meeting.start_datetime %></td>
    		<td><%= meeting.end_datetime %></td>
  		</tr>
  	<% end %>
  </tbody>

	</table>
	
