<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user.current_meeting %>
  <div class="alert alert-info" role="alert"> 
    <%= current_user.current_book.id %>번 책과 데이트 중입니다.
    <%= simple_form_for current_user.current_meeting do |f| %>
      <%= f.hidden_field :end_datetime, value: Time.now %>
      <%= f.submit "데이트 끝내기", class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>

<h1>Listing Books</h1>



<table class="table">
  <thead>
    <tr>
      <th>번호</th>
      <th>태그</th>
      <th>상태</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr class="<%= "danger" if book.late? %>">
        <td><%= book.id %></td>
        <td><%= book.tag_list %><small>( <%= book.comments.size %> )</small></td>
        <td>
          <% if book.available? %>
            데이트 가능
          <% else %>
            데이트 중
          <% end %>
        </td>

        <td><%= link_to 'Show', book %></td>

      

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
