<p id="notice"><%= notice %></p>

<p>
  <strong>번호: </strong>
  <%= @book.id %>
</p>

<p>
  <strong>태그: </strong>
  <%= @book.tag_list %>
</p>

<p>
  <strong>상태: </strong>
    <% if @book.available? %>
      데이트 가능
    <% else %>
      <% current_meeting = @book.current_meeting %>
      데이트 중 with <strong><%= current_meeting.user.name %></strong>
 
      <% if current_user.id == 1 %>
      ( <strong><%= current_meeting.user.phone_number %> )
      <% end %>

      <p><strong>데이트 시작일: </strong><%= current_meeting.start_datetime %></p>
      <p><strong>데이트 마감일: </strong><%= current_meeting.start_datetime + 21.days %></p>
    <% end %>

<% if @book.available? && current_user.current_meeting.nil? %>
  <%= simple_form_for @meeting do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :book_id %>
    <%= f.submit "데이트 시작하기", class: "btn btn-success" %>
  <% end %>
<% end %>

<%= render "comments/comments" %>


<% if current_user.id == 1 or @book.user_id == current_user.id %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', books_path, method: :delete, data: { confirm: 'Are you sure?'} %> |
<% end %>

<%= link_to 'Back', books_path %>
